@model HuiChengSite.Models.Article
@{
    if (Model != null)
    {
        ViewBag.Title = Model.Title;
        ViewBag.Keywords = Model.KeyWords;
    }

    string backUrl = Request.UrlReferrer != null ? Request.UrlReferrer.OriginalString : "/";

    if (HuiChengSite.Common.BrowserHelper.IsPhone())
    {
        Layout = "~/Views/Shared/_mLayout.cshtml";
    }
    <link href="~/Scripts/emoji/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Scripts/emoji/css/jquery.emoji.css" rel="stylesheet" />
}

@section header{
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/prettify/r298/prettify.min.css">
    @if (HuiChengSite.Common.BrowserHelper.IsPhone())
    {
        @Styles.Render("~/Content/mdetail")
    }
    else
    {
        @Styles.Render("~/Content/detail")
    }
}
<div class="content">

    @Html.AntiForgeryToken()

    <div class="detail-nav">
        <a href="@backUrl">返回</a>
    </div>

    @if (Model == null)
    {
        <h2>文章不存在</h2>
    }
    else
    {
        <div class="detail-title">
            <h2>@Model.Title</h2>
            <div class="sec">
                <span class="timebox">
                    <img src="/Images/time2.png" alt="时间" width="14" />
                    <span>@Model.DisplayCreatedTime</span>
                </span>
                <span id='labelContainer'><img src="~/Images/loadingbar.gif" alt="加载中..." /></span>
            </div>
        </div>
        <div>
            @Html.Raw(Model.Content)
        </div>
    }
    <div>
        <div class="qrcodeContainer">
            @if (HuiChengSite.Common.BrowserHelper.IsPhone())
            {
                <div></div>
            }
            else
            {
                <div>扫码分享</div>               
            }
            <div id="qrcode" style=""></div>            
        </div>
    </div>
    <div class="loadCommentBtnBox">
        <button id="loadCommentBtn">展示评论区</button>
    </div>
    <div class="commentBox hidden">
        <div class="commentBoxTitle">评论区</div>
        <div class="commentBoxBox">
            <div id="content" class="commentcontent" contenteditable="true"></div>
            <img id="btn" class="emojiBtn" src="~/Images/emoji.png" />
            <button id="publishBtn" class="publishBtn">发表</button>
        </div>
        <div id="commentlist" class="commentlistBox"></div>
        <div style="margin-top:5px;" id="pageBox">
            <input type="hidden" name="pageNumber" />
            <button id="btnPreview" onclick="previewPage();">上一页</button>
            第<span name="pageNumber"></span>页，共<span id="totalPage"></span>页
            <button id="btnNext" onclick="nextPage();">下一页</button>
        </div>
    </div>
    <div class="hidden">
        <div id="commentlistModel" class="commentlist">
            <div class="avatarBox">
                <img class="avatar" src="~/Images/useravatar.svg" alt="">
            </div>
            <div class="right">
                <div class="c">
                    <div class="name">{0}</div>
                    <div class="cc">{1}</div>
                </div>
                <div class="handle">{2}<a href="javascript:void(0);" cid="{3}" onclick="showReplyBox(this);">回复</a></div>
                <div class="replyList" cid="{3}">{4}</div>
            </div>
        </div>
    </div>
</div>



@section footer{
    <script>var articleId = '@(Model!=null? Model.ArticleId.ToString() :"")';</script>
    @*<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>*@
    @*这里不能用cdn的jquery，会报错*@
    <script src="~/Scripts/jquery.min.js"></script>
    @Scripts.Render("~/Scripts/erweima/js")
    <script type="text/javascript" src='http://cdn.bootcss.com/prettify/r298/prettify.min.js'></script>
    @Scripts.Render("~/Scripts/business/articledetail")

    <script src="~/Scripts/emoji/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/Scripts/emoji/js/jquery.emoji.min.js"></script>
    <script>
        $(function () {
            $("#loadCommentBtn").click(function () {
                $(this).remove();
                $(".commentBox").removeClass('hidden');

                //初始化表情
                $("#content").emoji({
                    button: "#btn",
                    showTab: false,
                    animation: 'none',
                    icons: [{
                        name: "QQ表情",
                        path: "/scripts/emoji/img/qq/",
                        maxNum: 91,
                        excludeNums: [41, 45, 54, 15],
                        file: ".gif"
                    }]
                });

                getList(1);
            });

            $("#publishBtn").click(function () {                
                var content = $("#content").html();
                var data = { articleId: articleId, Content: content };
                alert(JSON.stringify(AddAntiForgeryToken(data)));
                $.ajax({
                    type: "POST",
                    url: "/Comment/Add",
                    data: data,
                    success: function (result) {                                            
                        if (result.code == 200) {
                            showMsg("发表成功");
                            getList();
                        } else {
                            showMsg("发表失败");
                        }
                    },
                    error: function (msg) {
                        alert(JSON.stringify(msg));
                    }
                });

                //$.post("/Comment/Add", AddAntiForgeryToken(data), function (result) {
                //    alert('post ok');
                //    console.log(result);
                //    if (result.code == 200) {
                //        showMsg("发表成功");
                //        getList();
                //    } else {
                //        showMsg("发表失败");
                //    }
                //}, function () {
                //    alert('error');
                //});
            });
        });

        AddAntiForgeryToken = function (data) {
            data.__RequestVerificationToken = $('input[name=__RequestVerificationToken]').val();
            return data;
        };

        showMsg = function (msg) {
            $("#msg").html(msg);
        }

        /*获取评论信息*/
        getList = function (page) {
            $.get("/comment/List", { articleId: articleId, page: page }, function (result) {
                if (result.code == 200) {
                    $("#commentlist").html("");
                    for (var i = 0; i < result.data.length; i++) {
                        var record = result.data[i];
                        addRecord(record);
                    }
                    
                    $("input[name = pageNumber]").val(result.pageNumber);
                    $("span[name = pageNumber]").html(result.pageNumber);
                    $("#totalPage").html(result.pageCount);

                    if (result.data.length <= 10) {
                        $("#pageBox").addClass("hidden");
                    } else {
                        $("#pageBox").removeClass("hidden");
                    }
                    
                    if (result.pageNumber == 1) {
                        $("#btnPreview").attr('disabled', "true");
                    } else {
                        $("#btnPreview").removeAttr('disabled');
                    }
                    if (result.pageNumber == result.pageCount) {
                        $("#btnNext").attr('disabled', "true");
                    } else {
                        $("#btnNext").removeAttr('disabled');
                    }

                }
            });
        }

        var content = $("#commentlistModel").prop("outerHTML");

        addRecord = function (record) {
            var c2 = content
                     .replace("{0}", record.UserName)
                     .replace("{1}", record.Content)
                     .replace("{2}", data_string(record.CreateTime))
                     .replace("{3}", record.CommentId)
                     .replace("{3}", record.CommentId);

            //构建回复列表
            var arr = new Array();
            if (record.Children) {
                for (var i = 0; i < record.Children.length; i++) {
                    var replyHtml = buildReplyItem(record.Children[i]);
                    arr.push(replyHtml);
                }
            }
            var arrStr = arr.join('');            
            c2 = c2.replace("{4}", arrStr);
            $("#commentlist").append(c2);
        }

        //构建回复列表项
        buildReplyItem = function (comment) {
            //console.log(comment);
            var html = "<div class='replyContainer'>" +
                        "<div class='replytitle'>{0}</div>:" +
                        "<div class='replyContent'>{1}</div> " +
                        "<div class='replyDate'>{2}</div>" +
                        "</div>";
            html = html
                .replace("{0}", comment.UserName)
                .replace("{1}", comment.Content)
                .replace("{2}", data_string(comment.CreateTime));
            return html;
        }

        function data_string(str) {
            var d = eval('new ' + str.substr(1, str.length - 2));
            var ar_date = [d.getFullYear(), d.getMonth() + 1, d.getDate(), d.getHours(), d.getMinutes(), d.getSeconds()];
            for (var i = 0; i < ar_date.length; i++) ar_date[i] = dFormat(ar_date[i]);
            return ar_date.slice(0, 3).join('-') + ' ' + ar_date.slice(3).join(':');

            function dFormat(i) { return i < 10 ? "0" + i.toString() : i; }
        }

        previewPage = function () {
            var pageNumber = $("input[name = pageNumber]").val();
            pageNumber--
            getList(pageNumber);
        }

        nextPage = function () {
            var pageNumber = $("input[name = pageNumber]").val();
            pageNumber++;
            getList(pageNumber);
        }

        /*点击回复按钮*/
        showReplyBox = function (btn) {
            $(".replyBox").remove();
            var html = '<div class="replyBox">' +
                            '<div id="content2" class="commentcontent commentcontent2" contenteditable="true"></div>' +
                            '<img id="btn2" class="emojiBtn" src="/Images/emoji.png" />' +
                            '<button id="publishBtn2" class="publishBtn">发表</button>' +
                        '</div>';
            $(btn).parent().parent().append(html);

            $("#content2").emoji({
                button: "#btn2",
                showTab: false,
                animation: 'none',
                icons: [{
                    name: "QQ表情",
                    path: "/scripts/emoji/img/qq/",
                    maxNum: 91,
                    excludeNums: [41, 45, 54, 15],
                    file: ".gif"
                }]
            });

            $("#publishBtn2").click(function () {
                var content = $("#content2").html();
                var replyListDiv = $(this).parent().parent().find('div.replyList');
                var commentId = replyListDiv.attr('cid');
                var data = { articleId: articleId, Content: content, CommentId: commentId };                
                var replyBoxDiv = $(this).parent();

                $.post("/Comment/Add", data, function (result) {
                    //console.log(result);
                    if (result.code == 200) {
                        var record = result.data;
                        var html = buildReplyItem(record);
                        replyListDiv.append(html);
                        replyBoxDiv.remove();
                    } else {
                        alert("发表失败");
                    }
                });
            });
        }
    </script>

}

